.forkRepo{
    color: greenyellow;
    margin-top: 5%;
    margin-bottom: 5%;
    text-align: center;
    font-weight: bolder;
    font-size: 150%;
    line-height: 1.2;
    border-bottom: 2px solid orange;
    border-bottom-width: 50%;
}

.row{
    box-shadow: 0 7px 17px rgba(0, 0, 0, 0.5);
    padding: 5%;
    border-radius: 25px 25px 25px 25px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.repoName{
    color: orange;
    text-align: center;
}

.repoName a{
    text-decoration: none;
    color: orange;
    transition: all ease 0.4s;
}

.repoName a:hover{
    text-decoration: none;
    color: orangered;
    transition: all ease 0.4s;
}

.createdAt {
    text-align: right;
    font-size: 60%;
}

.forkRepoDate{
    color: purple;
    font-weight: bold;
    font-size: 130%;
}

.divider{
    color: orange;
    font-weight: bolder;
}

.forkRepoSize{
    color: purple;
    font-weight: bold;
    font-size: 130%;
}

.forkRepoDefaultBranch{
    color: purple;
    font-weight: bold;
    font-size: 130%;
}

.forkRepoDescription{
    font-size: 90%;
    color: #ffffff;
}

.forkRepoDescriptionContent{
    font-size: 70%;
    color: #c0c0c0;
}